---
import Briefcase from "@/components/icons/Briefcase.astro";
import Clock from "@/components/icons/Clock.astro";
import Globe from "@/components/icons/Globe.astro";
import MapPin from "@/components/icons/MapPin.astro";
import Modal from "@/components/shared/Modal.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button
  id="availableToWorkBadgeModal"
  class="fixed font-mono top-20 right-0 mt-20 cursor-pointer bg-green-500 outline-green-600 text-white py-1 px-3 rounded-l-md shadow-md flex items-center transform hover:translate-x-0 translate-x-1 transition-transform z-30"
>
  <span class="h-2 w-2 bg-white rounded-full mr-2 animate-pulse"></span>
  {t("availability_to_work.badge")}
</button>

<Modal triggerId="availableToWorkBadgeModal" size="md">
  <span slot="title">
    {t("availability_to_work.modal.title")}
  </span>
  <main slot="content" class="space-y-4">
    <p class="mb-4 text-carbon-700 dark:text-ivory-200 font-georgia">
      {t("availability_to_work.modal.description")}:
    </p>

    <div class="flex items-start">
      <Globe
        className="h-5 w-5 mr-2 mt-0.5 stroke-ivory-700 dark:stroke-ivory-500"
      />
      <div>
        <h4 class="font-bold font-bricolage-grotesque">
          {t("availability_to_work.modal.remote_title")}
        </h4>
        <p class="text-carbon-700 dark:text-ivory-200 font-georgia">
          {t("availability_to_work.modal.remote_description")}
        </p>
      </div>
    </div>

    <div class="flex items-start">
      <MapPin
        className="h-5 w-5 mr-2 mt-0.5 stroke-ivory-700 dark:stroke-ivory-500"
      />
      <div>
        <h4 class="font-bold font-bricolage-grotesque">
          {t("availability_to_work.modal.local_title")}
        </h4>
        <p class="text-carbon-700 dark:text-ivory-200 font-georgia">
          {t("availability_to_work.modal.local_description")}
        </p>
      </div>
    </div>

    <div class="flex items-start">
      <Clock
        className="h-5 w-5 mr-2 mt-0.5 stroke-ivory-700 dark:stroke-ivory-500"
      />
      <div>
        <h4 class="font-bold font-bricolage-grotesque">
          {t("availability_to_work.modal.time_title")}
        </h4>
        <p class="text-carbon-700 dark:text-ivory-200 font-georgia">
          {t("availability_to_work.modal.time_description")}
        </p>
      </div>
    </div>

    <div class="flex items-start">
      <Briefcase
        className="h-4 w-4 mr-2 mt-0.5 stroke-ivory-700 dark:stroke-ivory-500"
      />
      <div>
        <h4 class="font-bold font-bricolage-grotesque">
          {t("availability_to_work.modal.type_title")}
        </h4>
        <p class="text-carbon-700 dark:text-ivory-200 font-georgia">
          {t("availability_to_work.modal.type_description")}
        </p>
      </div>
    </div>
  </main>
</Modal>
