---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

import Link from "./Link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuItems = [
  {
    name: t("nav.home"),
    link: getRelativeLocaleUrl(lang, "/"),
  },
  {
    name: t("nav.experience"),
    link: getRelativeLocaleUrl(lang, "/#experience"),
  },
  {
    name: t("nav.blog"),
    link: getRelativeLocaleUrl(lang, "/blog"),
  },
  {
    name: t("nav.contact"),
    link: getRelativeLocaleUrl(lang, "/#contact"),
  },
];
---

<nav class="flex space-x-8">
  {
    menuItems.map((item, index) => {
      return <Link href={item.link}>{item.name}</Link>;
    })
  }
</nav>
