---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

import Link from "./Link.astro";

interface Props {
  variant?: "default" | "mobile";
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuItems = [
  {
    name: t("nav.home"),
    link: getRelativeLocaleUrl(lang, "/"),
  },
  {
    name: t("nav.experience"),
    link: getRelativeLocaleUrl(lang, "/#experience"),
  },
  {
    name: t("nav.blog"),
    link: getRelativeLocaleUrl(lang, "/blog"),
  },
  {
    name: t("nav.contact"),
    link: getRelativeLocaleUrl(lang, "/#contact"),
  },
];

const { variant = "default" } = Astro.props;

const variantClasses = {
  default: "flex space-x-8",
  mobile: "flex flex-col space-y-5",
};
---

<nav class:list={[variantClasses[variant]]}>
  {
    menuItems.map((item, index) => {
      return (
        <span
          class:list={[
            variant === "mobile" &&
              "w-full pb-5 text-center border-b border-ivory-500",
          ]}
        >
          <Link href={item.link}>{item.name}</Link>
        </span>
      );
    })
  }
</nav>
