---
import Github from "../icons/Github.astro";
---

<div class="flex items-center justify-center space-x-4">
  <a
    href="https://github.com/WilmerRS"
    target="_blank"
    rel="noopener noreferrer"
    class=" stroke-ivory-700 hover:scale-105 transition-all"
    title="Ir al perfil de Github"
  >
    <Github />
  </a>
</div>
