---
import Github from "@/components/icons/Github.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
  className?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { className } = Astro.props;
---

<div class:list={["flex items-center justify-center gap-4", className]}>
  <a
    href="https://github.com/WilmerRS"
    target="_blank"
    rel="noopener noreferrer"
    class="stroke-ivory-700 dark:stroke-ivory-100 hover:scale-105 transition-all"
    title={t("nav.social.github")}
  >
    <Github />
  </a>
  <a
    href="https://www.linkedin.com/in/wilmerrs/"
    target="_blank"
    rel="noopener noreferrer"
    class="stroke-ivory-700 dark:stroke-ivory-100 hover:scale-105 transition-all"
    title={t("nav.social.linkedin")}
  >
    <LinkedIn />
  </a>
</div>
