---
import Github from "@/components/icons/Github.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
---

<div class="flex items-center justify-center gap-4">
  <a
    href="https://github.com/WilmerRS"
    target="_blank"
    rel="noopener noreferrer"
    class="stroke-ivory-700 dark:stroke-ivory-100 hover:scale-105 transition-all"
    title="Ir al perfil de Github"
  >
    <Github />
  </a>
  <a
    href="https://www.linkedin.com/in/wilmerrs/"
    target="_blank"
    rel="noopener noreferrer"
    class="stroke-ivory-700 dark:stroke-ivory-100 hover:scale-105 transition-all"
    title="Ir al perfil de Github"
  >
    <LinkedIn />
  </a>
</div>
