@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-ivory-100: #fcfbf8;
  --color-ivory-200: #f9f8f5;
  --color-ivory-500: #c5bda8;
  --color-ivory-700: #8c6945;

  --color-carbon-700: #1c1f21;
  --color-carbon-900: #090a0c;

  --font-grenze: Grenze, Georgia, Times New Roman, Times, serif;
  --font-mono:
    JetBrains Mono Variable, JetBrains Mono, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
