---
import GameOfLife from "@/components/sections/GameOfLife.astro";
import HomeStatus from "@/components/sections/HomeStatus.astro";
import Presentation from "@/components/sections/Presentation.astro";
import Header from "@/components/shared/Header.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const title = "Welcome to Astro.";
const description = "Wilmer";
---

<RootLayout title={title} description={description}>
  <Header />
  <main>
    <GameOfLife />
    <HomeStatus />
    <Presentation />
    <!-- <Trajectory /> -->
    <!-- <Projects /> -->
    <!-- <Art /> -->
  </main>
  <!-- <Footer /> -->
</RootLayout>
