---
import Contact from "@/components/sections/Contact.astro";
import GameOfLife from "@/components/sections/GameOfLife.astro";
import Presentation from "@/components/sections/Presentation.astro";
import Trajectory from "@/components/sections/Trajectory.astro";
import AvailableToWorkBadge from "@/components/shared/AvailableToWorkBadge.astro";
import Footer from "@/components/shared/Footer.astro";
import Header from "@/components/shared/Header.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const title = "wrsbyte | Portfolio";
const description =
  "Portfolio of wrsbyte, a software engineer with a passion for web development and open source.";
---

<RootLayout title={title} description={description}>
  <Header />
  <main class="flex-1">
    <AvailableToWorkBadge />
    <GameOfLife />
    <Presentation />
    <Trajectory />
    <Contact />
  </main>
  <Footer />
</RootLayout>
