---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
---

<Layout title="Welcome to Astro." description="Wilmer">
  <Header />
  <main>
    <Container>
      <h1>Welcome to Astro</h1>
      <p>
        This is a simple Astro starter template. It includes a layout, a header
        component, and a container component. It also includes a global CSS file
        and a 404 page.
      </p>
    </Container>
  </main>
</Layout>
