---
import Brand from "./Brand.astro";
import Container from "./Container.astro";
---

<header class="py-4"> 
  <Container>
    <section class="flex justify-between">
      <Brand />
      Wilmer
    </section>
  </Container>
</header>
